header {background-color: #FFDFD3;
display: flex;}
.side_column1{background-color: #D291BC;
     display: flex; width: 25%; float: left;
}
.side_column2{background-color: #D291BC;
  display: flex; width: 25%; float: right;
}
.main_column{background-color: #FEC8D8;
display: flex; ; width: 50%; float: left; }


footer{background-color: #957DAD;
}
