body {
    font-family: Arial, sans-serif;
    background-color: cadetblue;
    font-size: 18px;
    padding: 25px;
}

table {
    margin: 20px;
    width: 70%;
    border-collapse: collapse;


}
td, th {
    padding: 10px 5px;
}
tr:last-child td {
    text-align: center;
}
input, textarea, select {
    background-color: azure;
}
input[type="text"], textarea { 
    width: 100%;
}
input[type="radio"] { 
    margin: 10px 5px;
}
button {
    height: 25px;
    width: 150px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
